.banner{
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    background-color: #333;
    z-index: 1000;
}

.container{
    padding-top: 65px;
    padding-bottom: 50px;
}

.wa-holiday{
    position: fixed;
    left: 10%;
    top: 10%;
    width: 20%;
}

.wa-analysis{
    position: fixed;
    right: 10%;
    top: 10%;
    width: 20%;
}

.wa-content{
    margin: auto;
    width: 60%;
}

@media only screen and (max-width: 1500px) {

    .wa-holiday{
        left: 3%;
    }

    .wa-analysis{
        right: 3%;
    }

}

@media only screen and (max-width: 1272px) {

    .wa-holiday{
        left: 2%;
    }

    .wa-analysis{
        right: 2%;
    }
}

@media only screen and (max-width: 992px) {

    .wa-holiday{
        display: none;
    }

    .wa-content{
        margin: 0;
        width: 80%;
    }
}

.filter{
    height: 30px;
}

.filter .left{
    float: left;
}

.filter .right{
    float: right;
    line-height: 45px;
}

.filter .checkbox{
    margin-right: 10px;
    font-size: 13px;
}

.ui.table .hidden{
    display: none;
}

.list .description{
    margin-top: 5px;
}