.walogin{
    position: absolute;
    width: 400px !important;
    height: auto;
    background: #eee;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
    border-radius: 4px;
    box-sizing: border-box;
    z-index: 100;
}

.walogin .segment{
    margin: 0 auto;
}

.walogin .ui.message{
    padding: 0.5em 1em !important;
}

.walogin .ui.message .icon{
    font-size: 2em !important;
}

.walogin .ui.message p{
    font-size: 13px;
}